html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  background-color: #edf2f9;
  border: 2px solid #cdd4dd;
  font-family: $font-helv;
  color: #8e9299;
}

.row a {
  text-decoration: none;
}

.headerItem {
  position: relative;
  margin: 5px 10px 10px;
}

.header {
  font-family: $font-helv;
  color: #8e9299;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.subHeader {
  font-family: $font-bitwise;
  color: #47efd9;
  background-color: #c4fff7;
  text-shadow: 2px 2px #fd93ff;
  font-size: 25px;
  padding: 5px 15px 3px;
  border: 2px solid #47efd9;
  border-radius: 20px;
  display: inline-block;
}

.pageHeader {
  font-family: $font-helv;
  color: #8e9299;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  position: absolute;
  right: 0;
  top: 38px;
  max-width: 60%;
  white-space: nowrap;
  overflow-x: auto;
}

.topNav {
  font-family: $font-helv;
  background-color: #cdd4dd;
  padding: 10px 3px;
  border: 1px solid #c0c6ce;
  border-radius: 4px;
  margin: 2px 10px 5px 10px;
}

.topNav a {
  color: #edf5ff;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #cdd4dd;
  border-radius: 4px;
  transition: 0.35s;
}

.topNav a:hover {
  color: #47efd9;
  background-color: #c4fff7;
  border: 1px solid #47efd9;
}

.flavorTxt {
  font-family: $font-helv;
  text-transform: uppercase;
  color: #8e9299;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
}

.mainItem {
  margin: 10px;
}

.voteItem {
  margin: auto;
  margin-top: 25px;
  width: 42%;
}

[src] {
  border-radius: 4px;
}

.votes_form [src] {
  border-radius: 4px;
  float: left;
  transition: transform 0.35s, box-shadow 0.35s;
}

.votes_form:hover [src] {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px grey;
}

.versusTxt {
  font-family: $font-stillTime;
  color: #f43a3a;
  font-size: 75px;
  font-weight: 900;
  text-shadow: 2px 2px #ffda23;
  float: left;
  margin: 80px 40px 0 25px;
  transition: transform 0.35s, text-shadow 0.35s;
}

.versusTxt:hover {
  transform: scale(1.3);
  text-shadow: 2px 2px 10px #ffb923;
}

.footer {
  font-family: $font-helv;
  font-size: 15px;
  font-weight: 100;
  background-color: #cdd4dd;
  padding: 10px 15px;
  border-top: 1px solid #c0c6ce;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer a {
  font-weight: 100;
  color: #8e9299;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #cdd4dd;
  border-radius: 4px;
  transition: 0.35s;
}

.footer a:hover {
  color: #47efd9;
  background-color: #c4fff7;
  border: 1px solid #47efd9;
}